@keyframes aparecer-nitido {
    /* No início (0%), o texto está muito embaçado e invisível */
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    /* No final (100%), o texto está nítido e totalmente visível */
    100% {
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes aparecer-nitido1 {
    /* No início (0%), o texto está muito embaçado e invisível */
    0% {
        filter: blur(10px);
        opacity: 0.5;
    }
    /* No final (100%), o texto está nítido e totalmente visível */
    100% {
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
.menu{
    width:100%;
    max-width: 1900px;
    height:80px;
    position: relative;
    top:-20px;
    background-color:green;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
 
.lis1{
    color:white;
    position: relative;
    left:1690px;
    top:30px;
    font-size: 20px;
    animation: aparecer-nitido 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.lis1:hover{
    color:red;
}
.lis1:active{
    color:blue;
}
.lis2{
    color:white;
    font-size: 20px;
    position: relative;
    left: 1300px;
    top:30px;
    animation: aparecer-nitido 6s forwards;
    filter: blur(10px);
    opacity: 0; 
}
.lis2:hover{
    color:red;
}
.lis2:active{
    color:blue;
}
.lis3{
    color:white;
    font-size: 20px;
    position: relative;
    left: 870px;
    top:30px;
    animation: aparecer-nitido 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.lis3:hover{
    color:red;
}
.lis3:active{
    color:blue;
}
.tly{
    position: relative;
    top:-26px;
    bottom: -10px;
    width:100%;
    height: 900px;
    background-image:url("retro.webp");
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.tit{
    position: relative;
    top:150px;
    font-size: 100px;
    text-align: center;
    animation: aparecer-nitido 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.but{
    color:white;
    font-size: 30px;
    width: 90px;
    height: 90px;
    position: relative;
    top:-300px;
    left: 850px;
    animation: aparecer-nitido 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.but:hover{
    color:yellowgreen;
}
.but:active{
    color:orange;
}
.rod{
    width:100%;
    height: 70px;
    background-color:green;
    position: relative;
    top:-79px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.rod1{
    position: relative;
    left: 25px;
    top:20px;
    color:white;
    animation: aparecer-nitido 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.rod1:hover{
    color:dodgerblue;
    font-size:20px;
}
.rod1:active{
    color:blueviolet;
}
.menu1{
    width:100%;
    height:70px;
    position: relative;
    top:-20px;
    background-color:green;
     animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.but1{
    color:white;
    font-size: 20px;
    position: relative;
    top:30px;
    right: 500px;
    animation: aparecer-nitido 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.but1:hover{
    color:red;
}
.but1:active{
    color:blue;
}

.tit1{
    color:rgb(3, 3, 3);
    font-size: 50px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.tit1:hover{
    color:rgb(223, 22, 22);
         
}
.it1{
    color:rgb(5, 1, 1);
    font-size: 30px;
    margin: 0;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.it1:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.it2{
    font-size: 30px;
    position: relative;
    top:30px;
    color: rgb(0, 0, 0);
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.it2:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.it3{
    position: relative;
    top:60px;
    font-size: 30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.it3:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.it4{
    position: relative;
    top:90px;
    font-size: 30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.it4:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.it5{
    position: relative;
    top:120px;
    font-size: 30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.it5:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.it6{
    position: relative;
    top:140px;
    font-size: 30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.it6:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.rod4{
    width:100%;
    height: 80px;
    background-color:green;
    position: relative;
    bottom: -140px;
}
.rod4{
    position: relative;
    top:190px;

}
.rod6{
    position: relative;
    left: 700px;
    top:-20px;
    color:white;
}
.rod5{
    position: relative;
    left:25px;
    top:20px;
    color:white;
}
.rod7{
    position: relative;
    left:1650px;
    top:-60px;
    color:white;
}
.ox{
    font-size: 30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox1{
    font-size: 30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox1:hover{
    color:rgb(223, 22, 22);
    font-size:40px;
}
.ox2{
    font-size: 30px;
    position: relative;
    top:20px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox2:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox3{
    font-size: 30px;
    position: relative;
    top:30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox3:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox4{
    font-size: 30px;
    position: relative;
    top:15px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox4:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox5{
    font-size: 30px;
    position: relative;
    top:30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox5:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox6{
    font-size: 30px;
    position: relative;
    top:35px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox6:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox7{
    font-size: 30px;
    position: relative;
    top:15px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox7:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox8{
    font-size: 30px;
    position: relative;
    top:20px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox8:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox9{
    font-size: 30px;
    position: relative;
    top:35px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox9:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox10{
    font-size: 30px;
    position: relative;
    top:15px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox10:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox11{
    font-size: 30px;
    position: relative;
    top:20px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox11:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox12{
    font-size: 30px;
    position: relative;
    top:30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox12:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox13{
    font-size: 30px;
    position: relative;
    top:30px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox13:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox14{
    font-size: 30px;
    position: relative;
    top:15px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox14:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox15{
    font-size: 30px;
    position: relative;
    top:20px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox15:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox16{
    font-size: 30px;
    position: relative;
    top:35px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox16:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox17{
    font-size: 30px;
    position: relative;
    top:20px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox17:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ox18{
    font-size: 30px;
    position: relative;
    top:20px;
    animation: aparecer-nitido1 6s forwards;
    filter: blur(10px);
    opacity: 0;
}
.ox18:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.rod8{
    width:100%;
    height: 80px;
    background-color:green;
    position: relative;
    top:50px;
}
.rod11{
    position: relative;
    top:-50px;
    left: 1650px;
    color: white;
}
.rod10{
    position: relative;
    left: 750px;
    top:-8px;
    color:white;
}
.rod9{
    position: relative;
    left: 25px;
    top:30px;
    color:white;
}
.tyi{
    font-size: 50px;
    position: relative;
    top:30px;
}
.tyi:hover{
    color:rgb(223, 22, 22);
}
.list1{
    font-size: 30px;
    position: relative;
    left: 200px;
    top:-150px;
}
.list1:hover{
    color:rgb(223, 22, 22);
    font-size: 40px;
}
.ig2{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.ig2:hover {
    height: 200px;
    width: 200px;
    border-radius: 90%;
}
.rod12{
     width:100%;
    height: 80px;
    background-color:green;
    position: relative;
}

